.busi-table{
 //   background-color: wheat;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 5rem;
    .bu-plan-table{
        border-collapse: collapse;
        width: 100%;
        .t-body{
          text-align: left;
            .tr-1{
             height: 3rem;
             color: #10162F;
             font-weight: 400;
             line-height: 1.5;
             font-size: 1.125rem;
    span{
       padding-right: 0.5rem;
       padding-left: 1rem;
    }
  
            }
            .tr-2{
                background-color:#ffffff;
            
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
          span{
            padding-right: 0.5rem;
            padding-left: 1rem;
          }
            }
            .tr-3{
            
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
         span{
            padding-right: 0.5rem;
            padding-left: 1rem;
         }
            }
            .tr-4{
                background-color:#ffffff;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
                 span{
                    padding-right: 0.5rem;
                    padding-left: 1rem;
                 }
            }
            .tr-5{
             //   background-color: steelblue;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
                span{
                    padding-right: 0.5rem;
                    padding-left: 1rem;
                }
            }
            .tr-6{
                background-color:#ffffff;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
                   span{
                    padding-right: 0.5rem;
                    padding-left: 1rem;
                   }
            }
            .tr-7{
             //   background-color: snow;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
               span{
                padding-right: 0.5rem;
                padding-left: 1rem;
               }
            }
            .tr-8{
                background-color:#ffffff;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
                span{
                    padding-right: 0.5rem;
                    padding-left: 1rem;
                }
            }
            .tr-9{
             //   background-color: slategray;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
              span{
                padding-right: 0.5rem;
                padding-left: 1rem;
              }
            }
            .tr-10{
                background-color:#ffffff;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
               font-size: 1.125rem;
               span{
                padding-right: 0.5rem;
                padding-left: 1rem;
               }
            }
            .tr-11{
              //  background-color: skyblue;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
              span{
                padding-right: 0.5rem;
                padding-left: 1rem;
              }
            }
            .tr-12{
                background-color:#ffffff;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
               span{
                padding-right: 0.5rem;
                padding-left: 1rem;
               }
            }
            .tr-13{
               // background-color: sienna;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
                span{
                    padding-right: 0.5rem;
                    padding-left: 1rem;
                }
            }
            .tr-14{
                background-color:#ffffff;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
                 span{
                    padding-right: 0.5rem;
                    padding-left: 1rem;
                 }
            }
            .tr-15{
            //   background-color: seagreen;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
               span{
                padding-right: 0.5rem;
                padding-left: 1rem;
               }
            }
            .tr-16{
                background-color:#ffffff;
                height: 3rem;
                color: #10162F;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1.125rem;
                span{
                    padding-right: 0.5rem;
                    padding-left: 1rem;
                }
            }
        }
    }
}