.career-center{
    margin-top: 3.4%;
    background-color: #FFF0E5;
    margin-left: 17%;

    .get-hired{
        background-color: violet;
        padding-top: 3rem;
    
        .get-hired-info{
            background-color: turquoise;
            text-align: left;
            .hired-title{
             
            }
            h1{

            }
            .hired-details{

            }
            .hired-join-pro{

            }
        }
        .get-hired-img{
              img{

              }
        }
    }
}