.more-resources{
    
    margin-right: 17%;
    margin-left: 36%;
    .more-resources-blog{
        text-align: left;
        
        h2{
            font-weight: 700;
            line-height: 1.1;
            font-size: 1.625rem;
            padding-bottom: 1rem;
            color: #10162F;
        }
        .glo{
            a{
                line-height: 1.1;
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-decoration: none;
                color: #3A10E5;
            }
            h3{
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
                margin-left:0rem;
                margin-top: 0.5rem;
                &:hover{
                    cursor: pointer;
                    color: #3A10E5;
                    & h3{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 0.3s ease-in-out; 
                        
                    }
                }
            }
        }
        .bw{
            a{
                line-height: 1.1;
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-decoration: none;
                color: #3A10E5;
            }
            h3{
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
                margin-left:0rem;
                margin-top: 0.5rem;
                &:hover{
                    cursor: pointer;
                    color: #3A10E5;
                    & h3{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 0.3s ease-in-out; 
                        
                    }
                }
            }
        }
        .arti{
            a{
                line-height: 1.1;
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-decoration: none;
                color: #3A10E5;
            }
            h3{
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
                margin-left:0rem;
                margin-top: 0.5rem;
                &:hover{
                    cursor: pointer;
                    color: #3A10E5;
                    & h3{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 0.3s ease-in-out; 
                        
                    }
                }
            }
        }
        .bwg{
            a{
                line-height: 1.1;
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-decoration: none;
                color: #3A10E5;
            }
            h3{
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
                margin-left:0rem;
                margin-top: 0.5rem;
                &:hover{
                    cursor: pointer;
                    color: #3A10E5;
                    & h3{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 0.3s ease-in-out; 
                        
                    }
                }
            }
        }
    }

    .glossary{
        float: right;
        margin-top: -20rem;
        img{
            height: 24.65rem;
            width: 590px;
        }
        p{
            text-align: left;
            line-height: 1.1;
             font-size: 0.875rem;
             text-transform: uppercase;
             color: #3A10E5;
             margin-top: 0.75rem;
             margin-bottom: 0.5rem;
             width: 20%;
             margin-top: -1rem;
        }
        h3{
            text-align: left;
            font-size: 2.125rem;
            font-weight: 700;
            line-height: 1.1;
            color: #10162F;
            margin-top: 0rem;
            margin-left: 0rem;
           
            &:hover{
                cursor: pointer;
                color: #3A10E5;
                & h3{
                    opacity: 1;
                    transform: scale(1.2);
                    transition: 0.3s ease-in-out; 
                    
                }
            }
        }
    }

    .bolg-cards{
     
        display: inline-flex;
        gap: 1rem;
        margin-right: 17%;
        .blog-card1{
            img{
                height: 191px;
                width: 296px;
            }
            p{
                line-height: 1.1;
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-align: left;
                margin-top: -0.3rem;
                color: #3A10E5;
            }
            h3{
                margin-top: 0rem;
                margin-left: 0rem;
                text-align: left;
                font-size: 1.625rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
                &:hover{
                    cursor: pointer;
                    color: #3A10E5;
                    & h3{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 0.3s ease-in-out; 
                        
                    }
                }
                
            }
        }
        .blog-card2{
            img{
                height: 191px;
                width: 296px;
            }
            p{
                line-height: 1.1;
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-align: left;
                margin-top: -0.3rem;
                color: #3A10E5;
            }
            h3{
                margin-top: 0rem;
                margin-left: 0rem;
                text-align: left;
                font-size: 1.625rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
                &:hover{
                    cursor: pointer;
                    color: #3A10E5;
                    & h3{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 0.3s ease-in-out; 
                        
                    }
                }
                
            }
        }
        .blog-card3{
            img{
                height: 191px;
                width: 296px;
            }
            p{
                line-height: 1.1;
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-align: left;
                margin-top: -0.3rem;
                color: #3A10E5;
            }
            h3{
                margin-top: 0rem;
                margin-left: 0rem;
                text-align: left;
                font-size: 1.625rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
                &:hover{
                    cursor: pointer;
                    color: #3A10E5;
                    & h3{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 0.3s ease-in-out; 
                        
                    }
                }
                
            }
        }
    }

    .project-tic-toe{
        text-align: left;
        img{
            height: 24.65rem;
            width: 590px;
        }
        p{
            text-align: left;
            line-height: 1.1;
             font-size: 0.875rem;
             text-transform: uppercase;
             color: #3A10E5;
             margin-top: 0.75rem;
             margin-bottom: 0.5rem;
             width: 20%;
             margin-top: -1rem;
        }
        h3{
            text-align: left;
            font-size: 2.125rem;
            font-weight: 700;
            line-height: 1.1;
            color: #10162F;
            margin-top: 0rem;
            margin-left: 0rem;
        }
    }

    .project-blog{
        float: right;
        text-align: left;
        
        margin-top: -27.7rem;
        margin-right: 8rem;
        height: 320px;
        .spaceman{
            a{
                line-height: 1.1;
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-decoration: none;
                color: #3A10E5;
            }
            h3{
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
                margin-left:0rem;
                margin-top: 0.5rem;
                &:hover{
                    cursor: pointer;
                    color: #3A10E5;
                    & h3{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 0.3s ease-in-out; 
                        
                    }
                }
            }
        }
        .console-game{
            a{
                line-height: 1.1;
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-decoration: none;
                color: #3A10E5;
            }
            h3{
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
                margin-left:0rem;
                margin-top: 0.5rem;
                &:hover{
                    cursor: pointer;
                    color: #3A10E5;
                    & h3{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 0.3s ease-in-out; 
                        
                    }
                }
            }
        }
    }
}