.cheatsheets{
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 5rem;
 
    h2{
        text-align: left;
        font-size: 2.125rem;
        font-weight: 700;
       line-height: 1.1;
       color: #10162F;
    }
    p{
        font-size: 1.1rem;
        color: #10162F;
        text-align: left;
        line-height: 1.6;
        font-weight: 500;
        margin-top: -1rem;
    }
    ul{
        list-style-type: none;
    
       li{
         
           margin-left: -2.5rem;
        font-size: 1.1rem;
        text-decoration: underline;
        color: #3A10E5;
        text-align: left;
        line-height: 2.2;
        font-weight: bold;
        &:hover{
            cursor: pointer;
           text-decoration: none;
            & li{
                opacity: 1;
                transform: scale(1.2);
                transition: 0.3s ease-in-out; 
                
            }
        }
     
       }
   }
   img{
       width: 46%;
       height:80%;
       margin-top: -37.2rem;
       float: right;
   }
}