.lang-accordion{
 
    padding-top: 5%;
  
  }

.seecourses{
    margin-top: 3.4%;
    background-color: #FFF0E5;
    .catalog-title{
   
        text-decoration: none;
        color: #10162F;
        line-height: 5rem;
        margin-left: -60.2%;
      
  
   }

   
   .where-do-i-begin{
    display: flex;
    text-decoration: none;
    color: #10162F;
    width: 10%;
    margin-left: 17.5%;
}
    .computer-sci{
      // background-color: saddlebrown;
        width: 46.5%;
        margin-left: 36%;
        margin-top: -13rem;
        text-align: left;
        a{
          color: #3A10E5;
          text-decoration: none;
          &:hover{
              cursor: pointer;
              text-decoration: underline solid #3A10E5;
            
              & a{
                  opacity: 1;
                  transform: scale(1.2);
                  transition: 0.10s ease-in-out; 
                  
              }
          }
        }
        .csci{
            display: inline-block;
            font-weight: bold;
        }
        h1{
            margin-top: 0rem;
            text-align: left;
            font-weight: 700;
            line-height: 1.1;
            font-size: 2.125rem;
           padding-bottom: 1rem;
           color: #10162F;
         
        }
        .csdetail{
            text-align: left;
            margin-top: -2.6%;
            font-size: 0.875rem;
            color: #10162F;
        }

        .related-resources{
            border-radius: 2px;
            border: 1px solid #10162F;
            width: 30%;
           float: right;
           margin-top: -11rem;
           h2{
            padding-bottom: 0.5rem;
            font-size: 1.25rem;
             font-weight: 700;
             color: #10162F;
              line-height: 1.1;
              margin-left: 1rem;
           }
           ul{
            margin-left: -0.5rem;
            margin-top: -1rem;
         //  background-color: rosybrown;
               li{
                font-size: 0.875rem;
                color: #10162F;
                padding-bottom: 0.5rem;
             
                   a{
                     text-decoration: underline solid #3A10E5;
                     &:hover{
                        cursor: pointer;
                        text-decoration: none;
                      
                        & a{
                            opacity: 1;
                            transform: scale(1.2);
                            transition: 0.10s ease-in-out; 
                            
                        }
                    }
                   }
               }
           }
        }
    }

    .new-to-cs{
        margin-left: 36%;
        margin-top: 6rem;
        h2{
            font-size: 1.25rem;
            text-align: left;
            font-weight: 700;
            color: #10162F;
            line-height: 1.1; 
        }
        .py3{
            background-color: #ffffff;
       border: 1px solid #10162F;
            text-align: left;
            width: 49%;
            &:hover {
                cursor: pointer;
               padding: 3px;
                box-shadow:-8px 8px 0 0#10162F;
                &  .py3{
                    opacity: 1;
                    transform: scale(1.2);
                    transition: 10s ease-in-out; 
                }
            }
            .co{
                color: #10162F;
                margin-left: 1rem;
                font-size: 0.875rem;
                margin-bottom: 0.75rem;
                padding-top: 1rem;
                
            }
            h3{
                font-weight: 700;
                line-height: 1.1;
                font-size: 1.25rem;
                margin-bottom: 0.25rem;
                margin-left: 1rem;
                padding-bottom: 0.3rem;
                color: #10162F;
                margin-top: 0rem;
            }
            li{
                margin-left:1rem;
                    .ppy{
                        font-size: 0.875rem;
                        color: #10162F;
                       // font-weight: 500;
                        line-height: 1.5; 
                        margin-top: -1.2rem;
                       margin-left: 0.5rem;
                    }
            }
            .ppydetail{
                font-size: 0.875rem;
                padding-bottom: 1rem;
                text-align: left;
                color: #10162F;
                margin-left: 1rem;
                margin-top: 0rem;
            }
            span{
                
                margin-left: 28rem;
                padding-right: 0.75rem;
                padding-left: 0.75rem;
                padding-top: 0.25rem; 
                 background-color:#F5FCFF;
             font-weight: 700;
               line-height: 1.1;
                font-size: 0.875rem;
             color: #10162F; 
            
            }
        }
        .blog-post{
            
            border-radius: 2px;
            border: 1px solid #10162F;
            width: 23%;
          margin-left: 39rem;
           text-align: left;
           margin-right: 25%;
           margin-top: -14rem;
           padding-bottom: 5.5rem;
           &:hover {
            cursor: pointer;
           
            box-shadow:-8px 8px 0 0#10162F;
            & .blog-post{
                opacity: 1;
                transform: scale(1.2);
                transition: 10s ease-in-out; 
            }
        }
            
           .bp{
                font-weight: 400;
                line-height: 1.5;
                font-size: 0.875rem;
                color: #10162F; 
                padding-left: 1rem;
            }
            .whatiscs{
                font-weight: 700;
                line-height: 1.1;
                font-size: 1.25rem;
                color: #10162F; 
                padding-left: 1rem;
            }
            .march{
                font-weight: 400;
                line-height: 1.5;
                font-size: 0.875rem;
                color: #10162F; 
                padding-left: 1rem;
            }
        }
    }
}