.article-lang-accordion{
    padding-top: 5%;
   
    // margin-left: 17%;
    // margin-right: 17%;
}


.article-page{
     background-color: #F5FCFF;
     margin-top: 3.4%;
     .right-side{
        margin-top: -6rem;
        margin-left: 35.5%; 
        margin-right: 17%;
         .design-while{
            .icons-title{
               
                text-align: left;
                display: flex;
                .si-icon{
                    border-width: 1px;
                    border-style: solid;
                    border-color: #10162F;
                   margin-right: 0.5rem;
                   border-radius: 50%;
                   width: 32px;
                   height: 32px;
                   color: #ffffff;
                   background-color: #10162F;
                   align-items: center;
                 }
                 span{
                  
                   font-weight: bold;
                   color: #10162F;
                   display: inline-block;
                   padding-top: 0.5rem;
                 
                }
                .check-icon{
                   margin-top: 0.5rem;
                  color: #66C4FF;
                    width: 16px;
                    height: 16px;
                    margin-left: 0.25rem;
                }
            }
             
            h1{
                font-size: 2.75rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
                text-align: left;
                margin-top: 0.5rem;
            }
            p{
                font-size: 1.125rem;
                margin-top: 1.5rem;
                color: #10162F;
                text-align: left;
                font-weight: 500;
            }
            .logo-fti{
             
                float: right;
                margin-top: -13rem;
                gap: 1rem;
                
                .ri-fb{
                    font-size: 2.5rem;
                    color: #10162F;
                }
                .ti-twitter{
                    font-size: 2.5rem;
                    color: #10162F;
                }
                .ti-linkedin{
                    font-size: 2.5rem;
                    color: #10162F;
                }
            }
         }

         .step-1{
             margin-top: 5rem;
             h3{
                text-align: left;
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
             }
             p{
                line-height: 1.5;
                font-weight: 500;
                 text-align: left;
                margin-top: -0.5rem;
                color: #10162F;
                margin-bottom: 1rem;
             }
             h5{
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                text-align: left;
                color: #10162F;
             }
             .list1{
                 margin-top: 0.5rem;
                 margin-bottom: 1rem;
                 line-height: 1.5;
                font-weight: 500;
                 text-align: left;
                 color: #10162F;
             }
             ul{
                margin-top: 0;
                margin-bottom: 1rem;
                text-align: left;
                color: #10162F;
                line-height: 1.5;
                font-weight: 500;
                 li{

                 }
             }

         }
         .step-2{
             text-align: left;
             margin-top: 2rem;
             h3{
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
             }
             p{
                line-height: 1.5;
                font-weight: 500;
                 text-align: left;
                margin-top: -0.5rem;
                color: #10162F;
                margin-bottom: 1rem;
             }
             h5{
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                text-align: left;
                color: #10162F;
             }
             .list2{
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                line-height: 1.5;
               font-weight: 500;
                text-align: left;
                color: #10162F;
             }
             ul{
                margin-top: 0;
                margin-bottom: 1rem;
                text-align: left;
                color: #10162F;
                line-height: 1.5;
                font-weight: 500;
                 li{

                 }
             }
         }

         .step-3{
             text-align: left;
             margin-top: 2rem;
             h3{
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
             }
             p{
                line-height: 1.5;
                font-weight: 500;
                 text-align: left;
                margin-top: -0.5rem;
                color: #10162F;
                margin-bottom: 1rem;
             }
             h5{
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                text-align: left;
                color: #10162F;
             }
             .list3-1{
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                line-height: 1.5;
               font-weight: 500;
                text-align: left;
                color: #10162F;
             }
             .list3-2{
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                line-height: 1.5;
               font-weight: 500;
                text-align: left;
                color: #10162F;
             }
             .list3-3{
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                line-height: 1.5;
               font-weight: 500;
                text-align: left;
                color: #10162F;
             }
             .list3-4{
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                line-height: 1.5;
               font-weight: 500;
                text-align: left;
                color: #10162F;
             }
         }

         .step-4{
             text-align: left;
             margin-top: 2rem;
             h3{
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
             }
             p{
                line-height: 1.5;
                font-weight: 500;
                 text-align: left;
                margin-top: -0.5rem;
                color: #10162F;
                margin-bottom: 1rem;
             }
             h5{
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                text-align: left;
                color: #10162F;
             }
             .list4-1{
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                line-height: 1.5;
               font-weight: 500;
                text-align: left;
                color: #10162F;
                a{
                    color: #3A10E5;
                    &:hover{
                        cursor: pointer;
                       text-decoration: none;
                        & a{
                            opacity: 1;
                            transform: scale(1.2);
                            transition: 0.3s ease-in-out; 
                            
                        }
                    }
                }
             }
             .list4-2{
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                line-height: 1.5;
               font-weight: 500;
                text-align: left;
                color: #10162F;
             }
             .list4-3{
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                line-height: 1.5;
               font-weight: 500;
                text-align: left;
                color: #10162F;
             }
             ul{
                margin-top: 0;
                margin-bottom: 1rem;
                text-align: left;
                color: #10162F;
                line-height: 1.5;
                font-weight: 500;
                 li{

                 }
             }
             .list4-4{
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                line-height: 1.5;
               font-weight: 500;
                text-align: left;
                color: #10162F;
             }
         }

         .step-5{
            text-align: left;
            margin-top: 2rem;
             h3{
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                color: #10162F;
             }
             p{
                line-height: 1.5;
                font-weight: 500;
                 text-align: left;
                margin-top: -0.5rem;
                color: #10162F;
                margin-bottom: 1rem;
             }
             h5{
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1.1;
                text-align: left;
                color: #10162F;
             }
             .list5{
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                line-height: 1.5;
               font-weight: 500;
                text-align: left;
                color: #10162F;
             }
         }

         .learn-more-on-codecademy{
        
             h2{
                text-align: left;
                font-size: 1.625rem;
               font-weight: 700;
                line-height: 1.1;
                color: #10162F;
             }
             .career-skill{
                 display: flex;
             .learn-path-1{
            
                 width: 35%;
                 border: 1px solid #10162F;
                 background: #ffffff;
                text-align: left;
               padding-bottom: 3rem;  
                &:hover{
                    cursor: pointer;
                   padding: 3px;
                   box-shadow:-8px 8px 0 0#10162F;
                    &  .learn-path-1{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 10s ease-in-out; 
                        
                        
                    }
                }   
                
                 p{
                    font-size: 1rem;
                    color: #10162F;
                    text-transform: capitalize;
                    margin-bottom: 0.75rem;
                    padding-left: 1rem;
                    margin-top: 1.5rem;
                    font-weight: 500;
                     span{
                        color: #ffffff;
                        background-color: #10162F;
                        height: 16px;
                        margin-right: 0.5rem;
                        text-transform: capitalize;
                     }
                 }
                 h3{
                    font-weight: 700;
                    line-height: 1.1;
                    font-size: 1.25rem;
                   margin-bottom: 0rem;
                   color: #10162F;
                   padding-left: 1rem;
                   margin-top: 0.6rem;
                 }
                 li{
                    padding-left: 1.1rem;
                    padding-top: 0.3rem;
                    p{
                        margin-top: -1.1rem;
                        font-size: 0.875rem;
                         color: #10162F;
                font-weight: 500;
                line-height: 1.5;
                    }
                 }
             }
    
            .learn-career-path{
                // margin-left: 22rem;
                // margin-top: -9.2rem;
               padding-bottom: 3rem;   
             margin-left: 3rem;  
                background-color: seagreen;
                border: 1px solid #10162F;
                background: #ffffff;
                width: 35%;
                text-align: left;
                &:hover{
                    cursor: pointer;
                   padding: 3px;
                   box-shadow:-8px 8px 0 0#10162F;
                    & .learn-career-path{
                        opacity: 1;
                        transform: scale(1.2);
                        transition: 10s ease-in-out; 
                        
                        
                    }
                }
                p{
                    font-size: 1rem;
                    color: #10162F;
                    font-weight: 500;
                    margin-left: 1.5rem;
                    margin-bottom: 0rem;
                    span{
                        color: #ffffff;
                background-color: #10162F;
                height: 16px;
                margin-right: 0.5rem;
                    }
                }
               h3{
                font-weight: 700;
                margin-bottom: 0.25rem;
                margin-left: 1.5rem;
                line-height: 1.1;
                font-size: 1.25rem;
                margin-bottom: 0rem;
                color: #10162F;
               }
               li{
                margin-left: 1.5rem;
              
                p{
                
                    margin-top: -1.1rem;
                    font-size: 0.875rem;
                     color: #10162F;
            font-weight: 500;
            line-height: 1.5;
                }
               }
            }
        }
         }
     }
}