.cs-career-path{
    background-color: #10162F;
    h2{
        font-size: 2.125rem;
        font-weight: 700;
        line-height: 1.1;
        color: #ffffff;
        text-align: left;
    }
    p{
        font-size: 1.1rem;
        line-height: 1.6;
        font-weight: 500;
        color: #ffffff;
        text-align: left;
    }
    .you-will-learn{
        font-size: 1.1rem;
        line-height: 1.6;
        font-weight: 500;
        color: #ffffff;
        text-align: left;
    }
    ul{
        text-align: left;
        background-color: teal;
        li{
            font-size: 1.1rem;
            line-height: 1.6;
            font-weight: 500;
            color: #ffffff;
            margin-bottom: 0.5rem;
        }
    }
    .learnmore{

    }
    img{

    }
}