.skill-path{
  
    margin-right: 17%;
    margin-top: -25%;
    margin-left: 48%;
    
   width: 40%;
  .dot{
      width: 40%;
      height: 70%;
      padding-left: 1.5rem;
    padding-right: 1.5rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    position:absolute;
    row-gap: 3rem;
    grid-column-gap: 3rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

   .path1-2{
       display: flex;
    .path-1{
          width: 35%;
          border: 1px solid #10162F;
          background: #ffffff;
         text-align: left;
         &:hover{
            cursor: pointer;
           padding: 5px;
            box-shadow: 10px 10px #10162F;
            & .path-1{
                opacity: 1;
                transform: scale(1.2);
                transition: 10s ease-in-out; 
                
                
            }
        }
        .p1{
            font-size: 1rem;
            color: #10162F;
            text-transform: capitalize;
            margin-bottom: 0.75rem;
            padding-left: 1rem;
            margin-top: 1.5rem;
            font-weight: 500;
            span{
                color: #ffffff;
                background-color: #10162F;
                height: 16px;
                margin-right: 0.5rem;
                text-transform: capitalize;

            }
        }
        h3{
            font-weight: 700;
            line-height: 1.1;
            font-size: 1.25rem;
           margin-bottom: 0rem;
           color: #10162F;
           padding-left: 1rem;
           margin-top: 0.6rem;
        }
        li{
            padding-left: 1.1rem;
            padding-top: 0.3rem;
        .p2{
            font-size: 0.875rem;
            color: #10162F;
            font-weight: 400;
            line-height: 1.5;
            margin-left: 0.25rem;
            padding-left: 0.8rem;
            margin-bottom: 6rem;
            margin-top: -1.2rem;
        }
    }
        .s1{
            font-weight: 700;
           line-height: 1.1;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          font-size: 0.875rem;
         background-color: #F5FFE3;
         color: #10162F;
         position: absolute;
         margin-top: -1.5rem;
         margin-left: 8.8rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        }
    }

    .path-2{
        margin-left: 4rem;
        width: 35%;
        border: 1px solid #10162F;
        background: #ffffff;
       text-align: left;
       &:hover{
        cursor: pointer;
       padding: 5px;
        box-shadow: 10px 10px #10162F;
        & .path-2{
            opacity: 1;
            transform: scale(1.2);
            transition: 10s ease-in-out; 
            
            
        }
    }
      .p3{
          font-size: 1rem;
          color: #10162F;
          text-transform: capitalize;
          margin-bottom: 0.75rem;
          padding-left: 1rem;
          margin-top: 1.5rem;
          font-weight: 500;
          span{
              color: #ffffff;
              background-color: #10162F;
              height: 16px;
              margin-right: 0.5rem;
              text-transform: capitalize;

          }
      }
      h3{
          font-weight: 700;
          line-height: 1.1;
          font-size: 1.25rem;
         margin-bottom: 0rem;
         color: #10162F;
         padding-left: 1rem;
         margin-top: 0.6rem;
      }

      li{
            padding-left: 1.1rem;
            padding-top: 0.3rem;   
      .p4{
          font-size: 0.875rem;
          color: #10162F;
          font-weight: 400;
          line-height: 1.5;
          margin-left: 0.25rem;
         padding-left: 0.8rem;
        margin-bottom: 6rem;
          margin-top: -1.2rem;
         
      }
    }
      .s2{
          font-weight: 700;
         line-height: 1.1;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 0.875rem;
        background-color: #F5FFE3;
       color: #10162F;
       position: absolute;
       margin-top: -1.5rem;
       margin-left: 8.1rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      }
    }

   }


   .path3-4{
       display: flex;
       margin-top: 3rem;
    .path-3{
     
        width: 35%;
        border: 1px solid #10162F;
        background: #ffffff;
       text-align: left;
       &:hover{
        cursor: pointer;
       padding: 5px;
        box-shadow: 10px 10px #10162F;
        & .path-3{
            opacity: 1;
            transform: scale(1.2);
            transition: 10s ease-in-out; 
            
            
        }
    }
      .p5{
          font-size: 1rem;
          color: #10162F;
          text-transform: capitalize;
          margin-bottom: 0.75rem;
          padding-left: 1rem;
          margin-top: 1.5rem;
          font-weight: 500;
          span{
              color: #ffffff;
              background-color: #10162F;
              height: 16px;
              margin-right: 0.5rem;
              text-transform: capitalize;

          }
      }
      h3{
          font-weight: 700;
          line-height: 1.1;
          font-size: 1.25rem;
         margin-bottom: 0rem;
         color: #10162F;
         padding-left: 1rem;
         margin-top: 0.6rem;
      }
      li{
        padding-left: 1.1rem;
        padding-top: 0.3rem;
      .p6{
          font-size: 0.875rem;
          color: #10162F;
          font-weight: 400;
          line-height: 1.5;
          margin-left: 0.25rem;
         padding-left: 0.8rem;
         margin-bottom: 3rem;
          margin-top: -1.2rem;
        
       
      }
    }
      .s3{
          font-weight: 700;
         line-height: 1.1;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 0.875rem;
       background-color: #F5FFE3;
       color: #10162F;
       position: absolute;
       margin-top: -1.5rem;
       margin-left: 8.1rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      }
    }


    .path-4{
       margin-left: 4rem;
        width: 35%;
        border: 1px solid #10162F;
        background: #ffffff;
       text-align: left;
       &:hover{
        cursor: pointer;
       padding: 5px;
        box-shadow: 10px 10px #10162F;
        & .path-4{
            opacity: 1;
            transform: scale(1.2);
            transition: 10s ease-in-out; 
            
            
        }
    }
      .p7{
          font-size: 1rem;
          color: #10162F;
          text-transform: capitalize;
          margin-bottom: 0.75rem;
          padding-left: 1rem;
          margin-top: 1.5rem;
          font-weight: 500;
          span{
              color: #ffffff;
              background-color: #10162F;
              height: 16px;
              margin-right: 0.5rem;
              text-transform: capitalize;

          }
      }
      h3{
          font-weight: 700;
          line-height: 1.1;
          font-size: 1.25rem;
         margin-bottom: 0rem;
         color: #10162F;
         padding-left: 1rem;
         margin-top: 0.6rem;
      }
      li{
        padding-left: 1.1rem;
        padding-top: 0.3rem;
      .p8{
          font-size: 0.875rem;
          color: #10162F;
          font-weight: 400;
          line-height: 1.5;
          margin-left: 0.25rem;
         padding-left: 0.8rem;
         margin-bottom: 3rem;
          margin-top: -1.2rem;
      }
    }
      .s4{
          font-weight: 700;
         line-height: 1.1;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 0.875rem;
       background-color: #F5FFE3;
       color: #10162F;
       position: absolute;
       margin-top: 1.3rem;
       margin-left: 8.1rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      }
    }
}

    .catalog-btn{
       margin-left: 29rem;
        color: #3A10E5;
        font-weight: 700;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 0rem;
        font-size: 1rem;
        height: 40px;
       margin-top: 2rem;
        width: 20%;
     //  background-color: green;
    
       &:hover{
        cursor: pointer;
        border-radius: 4px;
        background-color: rgb(44, 24, 24);
      //  padding: 1rem 1rem 1rem 1rem;
        & p{
            opacity: 1;
            transform: scale(1.2);
            transition: 10s ease-in-out; 
            
            
        }
   }
   .arrow{
    &:hover{
        cursor: pointer;
        border-radius: 4px;
        background-color: rgb(44, 24, 24);
        & .arrow
        {
            opacity: 1;
            transform: scale(1.2);
            transition: 10s ease-in-out; 
            
            
        }
   }
   }
    }
}