.asked-que{
    background-color: tomato;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 6rem;
    h2{
  text-align: left;
       font-weight: 700;
    line-height: 1.1;
    font-size: 2.125rem;
       color: #10162F;
       padding-bottom: 5rem;
    }
}